In [24]:
import pandas as pd
data = pd.read_csv('../starting_kit/sample_data/labels.csv')

In [25]:
data.shape

(25, 4)

In [19]:
subset = []
for i in range(0,data.shape[0]):
    subset.append('train')

In [20]:
len(subset)

10000

In [21]:
data['subset'] = subset

In [22]:
data

                                     image_name      label subset
0                             1431118345991.jpg  butterfly  train
1                             1443301419150.jpg        bee  train
2                   13102378021310246755485.jpg  butterfly  train
3                             1560328854490.jpg  butterfly  train
4                             1373983922894.jpg  butterfly  train
...                                         ...        ...    ...
9995                               156_0060.jpg      other  train
9996  36c5efb1-a500-40fc-bda2-6bcf6ea31fd9.jpeg        bee  train
9997                               011_0015.jpg      other  train
9998                          1537826665469.jpg       wasp  train
9999                 1319098059131910975281.jpg  butterfly  train

[10000 rows x 3 columns]

In [23]:
data.to_csv('/Users/ihsan/Desktop/Paris Saclay/Semester 1/T3/Project A/Bees/DATA/Train_Small/Images/labels.csv', index=False)

In [27]:
data = data.drop(columns=['Unnamed: 0'])

In [29]:
data.to_csv('../starting_kit/sample_data/labels.csv', index=False)