In [29]:
path = '/Users/ihsan/Desktop/Paris Saclay/Semester 1/T3/Project A/Bees/DATA/TEST/Images/labels.csv'

In [30]:
import pandas as pd
data = pd.read_csv(path)

In [31]:
data.shape

(12500, 3)

In [32]:
data.head(2)

          image_name      label subset
0  1447696357891.jpg     insect   test
1  1534166984180.jpg  butterfly   test

In [33]:
data.columns = ['FileName', 'Labels', 'subset']

In [34]:
data.head(2)

            FileName     Labels subset
0  1447696357891.jpg     insect   test
1  1534166984180.jpg  butterfly   test

In [35]:
# subset = []
# for i in range(0,data.shape[0]):
#     subset.append('train')
# len(subset)
# data['subset'] = subset

In [36]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(data['Labels'].unique())
enc_y = le.transform(data['Labels'].values)

In [37]:
enc_y

array([2, 1, 1, ..., 3, 4, 1])

In [38]:
data['Labels'] = enc_y

In [39]:
data

                          FileName  Labels subset
0                1447696357891.jpg       2   test
1                1534166984180.jpg       1   test
2                1475593574636.jpg       1   test
3                  image_04111.jpg       3   test
4      9585244628_e6a6d25a3d_w.jpg       0   test
...                            ...     ...    ...
12495  4842375068_0d8d6ac50b_w.jpg       2   test
12496  9479634782_e63e0b3543_n.jpg       2   test
12497                 156_0062.jpg       3   test
12498  12810989771281100551995.jpg       4   test
12499            1475319330315.jpg       1   test

[12500 rows x 3 columns]

In [40]:
data.to_csv(path, index=False)