In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('../../DATA/Train_Small/Images/train_small_labels.csv')

In [4]:
data

                                     image_name      label
0                             1431118345991.jpg  butterfly
1                             1443301419150.jpg        bee
2                   13102378021310246755485.jpg  butterfly
3                             1560328854490.jpg  butterfly
4                             1373983922894.jpg  butterfly
...                                         ...        ...
9995                               156_0060.jpg      other
9996  36c5efb1-a500-40fc-bda2-6bcf6ea31fd9.jpeg        bee
9997                               011_0015.jpg      other
9998                          1537826665469.jpg       wasp
9999                 1319098059131910975281.jpg  butterfly

[10000 rows x 2 columns]

In [5]:
bee = data[data['label'] == 'bee']
wasp = data[data['label'] == 'wasp']
butterfly = data[data['label'] == 'butterfly']
insect = data[data['label'] == 'insect']
other = data[data['label'] == 'other']

In [11]:
other.label.value_counts()

other    2000
Name: label, dtype: int64

In [14]:
bee_sample = bee[1000:1010]
wasp_sample = wasp[1000:1010]
butterfly_sample = butterfly[1000:1010]
insect_sample = insect[1000:1010]
other_sample = other[1000:1010]

(10, 2)

In [18]:
frames = [bee_sample, wasp_sample, butterfly_sample, insect_sample, other_sample]
combined_sample_df = pd.concat(frames)

In [20]:
combined_sample_df = combined_sample_df.sample(frac=1).reset_index(drop=True)

In [21]:
combined_sample_df.columns = ['FileName', 'Labels']

In [23]:
combined_sample_df.to_csv('../../DATA/Train_Small/Images/sample_data/labels.csv')

# Copy to sample data

In [24]:
from shutil import copyfile

In [29]:
for index, row in combined_sample_df.iterrows():
    filename = row['FileName']
    label = row['Labels']
    src = '../../DATA/Train_Small/Images/' + label + '/' + filename
    dst = '../../DATA/Train_Small/Images/sample_data/'  + label + '/' + filename
    copyfile(src, dst)